@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.lucky_number {
    font-family: cursive;
    display: inline-block;
    text-align: center;
    font-size: 100px;
    border: 2px solid black;
    border-radius: 20%;
    padding: 20px;
    width: 100px;
    +.lucky_number {
        margin-left: 10px;
    }
}

.box_shadow {
    text-shadow: 0 0 10px #f00, 0 0 20px #f0f, 0 0 30px #00f;
}

.py-2 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.box_numbers {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .center {
        position: static;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .lucky_number {
        width: 80px;
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .lucky_number {
        width: 50px;
        font-size: 25px;
    }
}