@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
@import 'utils/variables';

.App {
  max-width: 1500px;
  margin: 0 auto;
}

html {
  overflow: overlay;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  padding: 0 !important;
}

a {
    text-decoration: none;
    color: black;
}

.p-2 {
  padding: 10px;
}

.text-white {
  color: white !important;
}

.zIndex100 {
  position: relative;
  z-index: 100;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.p-relative {
  position: relative;
}

.d-none {
  display: none;
}

.commonBackgroundColor {
  background-color: $commonBackgroundColor;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.word-break {
  word-break: break-all;
}

.border-radius-1 {
  border-radius: 10%;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.MuiCardHeader-root {
  align-items: start !important;
  -webkit-align-items: start !important;
}

#cuadricula {
  max-width: 2000px;
  margin: 0px auto;
  display: grid;
  grid-template-columns:repeat(6, minmax(auto, 100%)); 
  grid-template-rows:repeat(auto, 100%);
  grid-auto-flow: row;  /* or 'row dense', 'column', 'column dense' */

  .item {
    margin: 1px;
    padding: 0;
    box-shadow: 0 0 10px gray, 0 0 1px gray;
    border-radius: 20px;
    display:grid;
  }

  .item:nth-child(1n){grid-column-end:span 1;}
  .item:nth-child(2n){grid-column-end:span 2;}
  .item:nth-child(3n){grid-column-end:span 1;}
  .item:nth-child(3n){grid-row-end:span 1;}
}

.max400px {
  max-width: 400px;
}

.border-form {
  padding: 10px;
  border: 1px solid #1976d2;
  border-radius: 10px;
}

.text-red {
  color: #d32f2f;
}

.custom-text-error-input {
  color: #d32f2f;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-top: -5px;
  margin-bottom: 10px;
}

.MuiFormControl-root p {
  margin-left: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $commonBackgroundColor;
  border-radius: 20px;
}

@media only screen and (max-width: 576px) {
  #cuadricula {
    grid-template-columns:repeat(1, minmax(auto,100%));

    .item {
      grid-column-end:span 1 !important;
      grid-row-end:span 1 !important;
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  #cuadricula {
    grid-template-columns:repeat(2, minmax(auto,100%));

    .item:nth-child(1n){grid-column-end:span 1;}
    .item:nth-child(2n){grid-column-end:span 1;}
    .item:nth-child(3n){grid-column-end:span 2;}
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  #cuadricula {
    grid-template-columns:repeat(3, minmax(auto,100%));

    .item:nth-child(1n){grid-column-end:span 1;}
    .item:nth-child(2n){grid-column-end:span 2;}
    .item:nth-child(3n){grid-column-end:span 1;}
    .item:nth-child(3n){grid-row-start:span 1;}
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  #cuadricula {
    grid-template-columns:repeat(3, minmax(auto,100%));

    .item:nth-child(1n){grid-column-end:span 1;}
    .item:nth-child(2n){grid-column-end:span 2;}
    .item:nth-child(3n){grid-column-end:span 1;}
    .item:nth-child(3n){grid-row-start:span 1;}
  }
}

.overlay {
  width: 100%;
  height: 90vh;
  position: relative;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.text-gray {
  color: gray !important;
}

.primary {
  color: rgb(24 119 242);
}

.text-center {
  text-align: center;
}

.pt-3 {
  padding-top: 15px !important;
}

.fz20 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

//custom loader

.loader-img {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.loading-div {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.loading-div .loader-img {
  margin: 0 auto;
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 0;
  right: 0;
}
@-webkit-keyframes load5 {
  0%, 100% {
      box-shadow: 0em -2.6em 0em 0em #a9dcfe, 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.5), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.7);
  }
  12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.7), 1.8em -1.8em 0 0em #a9dcfe, 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.5);
  }
  25% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.5), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.7), 2.5em 0em 0 0em #a9dcfe, 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.5), 2.5em 0em 0 0em rgba(169, 220, 254, 0.7), 1.75em 1.75em 0 0em #a9dcfe, 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  50% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.5), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.7), 0em 2.5em 0 0em #a9dcfe, -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.5), 0em 2.5em 0 0em rgba(169, 220, 254, 0.7), -1.8em 1.8em 0 0em #a9dcfe, -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  75% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.5), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.7), -2.6em 0em 0 0em #a9dcfe, -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.5), -2.6em 0em 0 0em rgba(169, 220, 254, 0.7), -1.8em -1.8em 0 0em #a9dcfe;
  }
}
@keyframes load5 {
  0%, 100% {
      box-shadow: 0em -2.6em 0em 0em #a9dcfe, 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.5), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.7);
  }
  12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.7), 1.8em -1.8em 0 0em #a9dcfe, 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.5);
  }
  25% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.5), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.7), 2.5em 0em 0 0em #a9dcfe, 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.5), 2.5em 0em 0 0em rgba(169, 220, 254, 0.7), 1.75em 1.75em 0 0em #a9dcfe, 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  50% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.5), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.7), 0em 2.5em 0 0em #a9dcfe, -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.2), -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.5), 0em 2.5em 0 0em rgba(169, 220, 254, 0.7), -1.8em 1.8em 0 0em #a9dcfe, -2.6em 0em 0 0em rgba(169, 220, 254, 0.2), -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  75% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.5), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.7), -2.6em 0em 0 0em #a9dcfe, -1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2);
  }
  87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(169, 220, 254, 0.2), 1.8em -1.8em 0 0em rgba(169, 220, 254, 0.2), 2.5em 0em 0 0em rgba(169, 220, 254, 0.2), 1.75em 1.75em 0 0em rgba(169, 220, 254, 0.2), 0em 2.5em 0 0em rgba(169, 220, 254, 0.2), -1.8em 1.8em 0 0em rgba(169, 220, 254, 0.5), -2.6em 0em 0 0em rgba(169, 220, 254, 0.7), -1.8em -1.8em 0 0em #a9dcfe;
  }
}
body.loading .loading-div {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
/*----------------------------------------
  Pre-loader
------------------------------------------*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  z-index: 1001;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loading_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading_2__bar {
  width: 8px;
  height: 40px;
  margin: 0 4px;
  background-color: #555;
  animation: loading_2 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loading_2__bar:nth-child(1) {
  animation-delay: -0.45s;
  border-radius: 20px;
  background-color: green;
}

.loading_2__bar:nth-child(2) {
  animation-delay: -0.3s;
  border-radius: 20px;
  background-color: red;
}

.loading_2__bar:nth-child(3) {
  animation-delay: -0.15s;
  border-radius: 20px;
  background-color: purple;
}

.loading_2__bar:nth-child(4) {
  animation-delay: 0s;
  border-radius: 20px;
  background-color: yellow;
}

@keyframes loading_2 {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.5);
  }
  40% {
    transform: scale(1);
  }
}