h1 {
    font-weight: 900;
}

.mb-2 {
    margin-bottom: 30px !important;
}

.mt-2 {
    margin-top: 30px !important;
}

.boxUploadImage {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black dotted;
    cursor: pointer;
}

.image-preview {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-blog {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}