@import '../../../utils/variables';

header {
    background-color: $commonBackgroundColor !important;
}

.menu-notification {
    max-height: 450px;
    overflow-y: scroll;
}

.hidden {
    visibility: hidden;
}