.chat-container {
  position: fixed;
  bottom: 0;
  // right: 15px;
  width: 300px;
  // height: 410px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: Arial, sans-serif;
  z-index: 1051;
}

.chat-header {
  background-color: #1877f2;
  color: #fff;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  height: 305px;
  overflow-y: scroll;
  padding: 10px 0 10px 5px;
  background-color: white;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sent {
  max-width: 75%;
  margin-bottom: 10px;
  &__msg {
    display: inline-block;
    background-color: #f1f0f0;
    border-radius: 26px;
    padding: 5px 10px;
    overflow-wrap: anywhere;
  }
}

.receiver {
  max-width: 75%;
  margin-left: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
  &__msg {
    border-radius: 26px;
    background-color: #1877f2;
    display: inline-block;
    padding: 5px 10px;
    overflow-wrap: anywhere;
    color: #fff;
  }
}

.chat-footer {
  display: flex;
  align-items: center;
  background-color: #f1f0f0;
  padding: 5px;
}

.chat-footer input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 8px;
}

.typing-indicator {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.typing-indicator::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #999;
  animation: typing 1s infinite;
}

@keyframes typing {
  0% { opacity: 0.2; }
  20% { opacity: 1; }
  100% { opacity: 0.2; }
}
