@import '../../../utils/variables';

.width_250 {
    width: 250px;
}

.active {
    color: white;
    svg {
        color: white;
    }
    li {
        background-color: $commonBackgroundColor;
    }
}

.logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-left: 40px;
    color: $colorCommon;
    &_img {
        background-color: $commonBackgroundColor;
    }
}